
<section class="row jumbotron main-frame">
    <ng-particles [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)"></ng-particles>
    <div class='main-frame-content text-center'>
        <div class='main-info'>
            <h1><strong>Parag Badala</strong></h1>
            <h2>Developer. Coder. Software Engineer.</h2>
            <br />
            <div class="social-icons">
                <a target='_blank' href='https://www.facebook.com/parag.badala'><img src='../../../assets/images/facebook.png' /></a>
                <a target='_blank' href='https://www.linkedin.com/in/paragbadala/'><img src='../../../assets/images/linkedin.png' /></a>
                <a target='_blank' href='https://github.com/ParagBadala'><img src='../../../assets/images/github.png' /></a>
            </div>
        </div>
    </div>
</section>

<section class="about" id='about'>
    <div class="container">
        <br />
        <h2 class="text-center">A<span class="underline">bou</span>t</h2>
        <br />
        <div class="row">
            <div class="col-md-5">
                <div>
                    <img src='../../../assets/images/profile2.jpeg' />
                </div>
            </div>
            <div class="col-md-7">
                <div class="bio">
                    <h3>
                        PARAG BADALA
                    </h3>
                    <p>A Full Stack Javascript developer(MEAN/MERN), traveller, footballer and a csgo player with a IT professional experience of 2+ years.</p>
                    <p>In my short career, i have worked on various projects in field of frontend & backend development, python and developed a IOT devices for the disable peoples. Also have a patent of seat locator system for theaters </p>
                    
                    <p>Apart from my professional interest i keenly enjoy playing football. I have participated at national footbal competition and have deep interest in playing e-sports games. I have participated in e-sports competitions.</p>

                    <p>I am trained by Cisco Netcad Acadmey and done various certificaton.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class='portfolio' id='portfolio'>
    <div class="container">
        <br /><br />
        <h2 class="text-center">Recent Projects</h2>
        <br />
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <div><img src="../../../assets/images/instaBot1.jpg" /></div>
                    <h3>Instabot</h3>
                    <p>
                        Terminal bot app using python that allows you to use the various features of the Instagram like, comments, post.
                    </p>
                    <br />
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <div><img src="../../../assets/images/spyChat.png" /></div>
                    <h3>Spychat</h3>
                    <p>
                        It is a python project in which we can send message encoded behind the image and the reciever can decode that message.
                    </p>
                    <br />
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <div><img src="../../../assets/images/webCrawler.png" /></div>
                    <h3>Webcrawler</h3>
                    <p>
                        It is WebCrawler which will help in making the sitemap for the website which is basically all the links and pages of the websites.
                    </p>
                    <br />
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <div><img src="../../../assets/images/portfolio.png" /></div>
                    <h3>Portfolio</h3>
                    <p>
                        My portfolio site contains detail description about me and my projects. Built using angular framework.
                    </p>
                    <br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-sm-offset-4 col-xs-offset-3 col-xs-6 col-sm-4">
                <button class="learn-more center-block" (click)="navigateProject()">Check More</button>
            </div>
        </div>
    </div>
    <br /><br />
</section>