<section class='portfolio' id='portfolio'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 _card-padding" *ngFor='let project of projects'>
                <div class="card">
                    <div><img src="{{project.projectImg}}"/></div>
                    <h3>{{project.projectName}}</h3>
                    <p>
                        {{project.projectDes}}
                    </p>
                    <br />
                </div>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
    <br /><br />
</section>