
.contact {
	color: black;
	margin-bottom: 80px;
}

.contact h2 {
	font-weight: 700;
	font-size: 36px;
	padding-bottom: 5px;
	margin: 40px 0px;
	/* margin-bottom: 40px; */
}

.underline {
	border-bottom: 1px solid #ffb000;
}

.contact p {
	font-size: 15.5px;
}

.contact button {
	padding: 12px;
	background-color: #ffb000;
	color: white;
	border: 0px;
	box-shadow: 3px 3px 3px 0px rgba(205,200,205,1);
}

.contact button:hover {
	background-color: orange;
	transition-duration: 0.2s;
}