<section class="contact" id='contact'>
    <br />
    <h2 class="text-center">C<span class='underline'>ontac</span>t</h2>
    <br />
    <p class="text-center">
        Have a job or a project for me? Feel free to contact me via social media or mail.
    </p>
    <p class="text-center">
        E-Mail: parag.badala@gmail.com<br />
        Phone: +91 9872446349
    </p>
    <br />
    <div class="text-center">
        <a href="mailto:parag.badala@gmail.com"><button>E-MAIL ME</button></a>
    </div>
</section>